<div id="beneficariosModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Beneficiários</h4>
            </div>
            <div class="modal-body">
                <form id="formIncluirBeneficiario" method="post">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Beneficiario_CPF">CPF:</label>
                                <input required="required" type="text" class="form-control" id="Beneficiario_CPF" name="Beneficiario_CPF" placeholder="Ex.: 010.011.111-00" maxlength="14">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Beneficiario_Nome">Nome:</label>
                                <input required="required" type="text" class="form-control" id="Beneficiario_Nome" name="Beneficiario_Nome" placeholder="Ex.: João da silva" maxlength="50">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" style="margin-top: 0.3rem">
                                <label for="button"></label>
                                <button type="submit" class="btn btn-success">Incluir</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <table id="beneficiariosTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>CPF</th>
                                <th>Nome</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div> 